<ion-header>

  <ion-navbar>
    <ion-title>Contactos</ion-title><ion-buttons end>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list *ngFor="let cont of conts" inset>
    <ion-item-sliding *ngIf=" global.auth != cont.id">
      <button ion-item>
        <ion-avatar item-start>
        <img src="http://emprendedoreslp.test/img/users/{{cont.foto}}"> 
        </ion-avatar>
        <h2>{{cont.names}}</h2>
        <p>{{cont.tel}}</p>
      </button>
    </ion-item-sliding>
  </ion-list>

</ion-content>
