page-cal-det {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 197px;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }

  .justifyText{
  text-align: justify;
  }
}
