<ion-header>
  <ion-navbar>
    <ion-title class="centrado">Perfil</ion-title><ion-buttons end>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

<ion-card *ngFor="let user of users">

<ion-item *ngIf=" user.email == 'JoanOrtizITSLP@outlook.com'" >
<h2>{{user.names}}</h2>
<h2>{{user.ocup}}</h2>
 </ion-item>
  <img class="img" *ngIf=" user.email == 'JoanOrtizITSLP@outlook.com'"  src="http://192.168.100.7/EmprendedoresSLP/public{{user.foto}}">
 <ion-card-content *ngIf=" user.email == 'JoanOrtizITSLP@outlook.com'" >
    <p><b>Conocimientos: </b>{{user.desc}}</p>
    <p><b>Edad: </b>{{user.edad}}</p>
    <p><b>Tel: </b>{{user.tel}}</p>
    <p><b>Correo: </b>{{user.email}}</p>
 </ion-card-content>
</ion-card>
<!--
<ion-list>
<h2>Proyecto</h2>	
 <ion-card>
  <ion-card-content>
  	<h2 class="centrado"><b>Tutorias en linea</b></h2>
    <p>Tutorias en linea para mejorar el desempeño academico...</p>
    <p><b>Avance:</b> 65%</p>
    <p><b>Necesidades:</b> Programadores para terminar el el codigo y administar el servidor...</p>
  </ion-card-content>
 </ion-card>
</ion-list>
-->
</ion-content>
