<ion-header>
  <ion-navbar>
    <ion-title class="centrado">Perfil</ion-title><ion-buttons end>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
<!--   {{ global.auth }} -->
<ion-card *ngFor="let user of users">
<ion-item *ngIf=" user.email == global.email" >
<h2>{{user.names}}</h2>
<h2>{{user.ocup}}</h2>
 </ion-item>
  <img class="img" *ngIf=" user.email == global.email"  src="http://emprendedoresslp.test/public{{user.foto}}">
 <ion-card-content *ngIf=" user.email == global.email" >
    <p><b>Conocimientos: </b>{{user.desc}}</p>
    <p><b>Edad: </b>{{user.edad}}</p>
    <p><b>Tel: </b>{{user.tel}}</p>
    <p><b>Correo: </b>{{user.email}}</p>
 </ion-card-content>
</ion-card>

<ion-list>
<h2>Proyecto</h2>	
 <ion-card *ngFor="let project of projects">
  <ion-card-content *ngIf=" project.user_id == global.auth">
  	<h2 class="centrado"><b>{{project.title}}</b></h2>
    <p>{{project.desc}}</p>
    <p><b>Avance:</b> {{project.adv}}</p>
    <p><b>Necesidades:</b> {{project.need}}</p>
  </ion-card-content>
 </ion-card>
</ion-list>

</ion-content>
