<ion-header>

  <ion-navbar>
    <ion-title>Mensajes</ion-title><ion-buttons end>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-list *ngFor="let chat of chats" inset>
    <ion-item-sliding *ngFor="let user of users">
      <button *ngIf=" user.id == chat.user_id_des" ion-item (click)="openM(chat,user)">
        <ion-avatar  item-start>
        <img src="http://192.168.100.7/EmprendedoresSLP/public{{user.foto}}"> 
        </ion-avatar>
        <h2>{{user.names}}</h2>
      </button>
    </ion-item-sliding>
  </ion-list>

</ion-content>
