<ion-header>

  <ion-navbar>
    <ion-title>Mensajes</ion-title>
    <ion-buttons end>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-list *ngFor="let user of users" inset>
    <ion-item-sliding *ngFor="let chat of chats">
        <button *ngIf=" global.auth == chat.user_id_rem && user.id == chat.user_id_des" ion-item (click)="openM(chat,user)">
            <ion-avatar  item-start>
              <img src="http://emprendedoreslp.test/img/users/{{user.foto}}"> 
            </ion-avatar>
            <h2>{{user.name}}</h2>
        </button>
        <button *ngIf=" global.auth == chat.user_id_des && user.id == chat.user_id_rem" ion-item (click)="openM(chat,user)">
            <ion-avatar  item-start>
              <img src="http://emprendedoreslp.test/img/users/{{user.foto}}"> 
            </ion-avatar>
            <h2>{{user.name}}</h2>
        </button>
    </ion-item-sliding>
  </ion-list>

</ion-content>
